@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Card 3D */
.container-3d {
  perspective: 1000px;
}

.card-3d {
  position: relative;
  transition: transform 0.5s ease;
  transform-style: preserve-3d;
  /* opcional: sombra inicial */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
  z-index: 100; /* para que se superponga a otros elementos */
}

.card-3d:hover {
  transform: rotateX(5deg) rotate(-4deg) rotateY(-10deg) scale(1.05);
  z-index: 101; /* para que se superponga a otros elementos */
  box-shadow: 0 8px 15px rgba(0,0,0,0.2);
}

/* Evita que los hijos específicos hereden la rotación */
.card-3d img.no-3d {
  transform: none;         /* no hereda la rotación */
  transform-style: flat;   /* mantiene plano */
}

@keyframes shadow-pulse {
  0% {
    box-shadow: 0 0 10px rgba(0,0,0,0.0);
  }
  50% {
    box-shadow: 0 0 20px rgba(0,0,0,.2);
  }
  100% {
    box-shadow: 0 0 10px rgba(0,0,0,0);
  }
}

.shadow-pulse {
  animation: shadow-pulse 2s infinite;
  transition: all 0.3s ease-in-out;
}

.shadow-pulse:hover {
  animation: none;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
  translate: -40px;
}

.nada {
  color: red;
  background-color: #0a0a0a;
  border: 2px solid #0a0a0a;
  border-radius: 8px;
  padding: 10px 20px;
}

@keyframes pulseGradient {
  0% {
    background-position: 0% 50%;
    transform: scale(1);
  }
  50% {
    background-position: 100% 50%;
    transform: scale(1.08);
  }
  100% {
    background-position: 0% 50%;
    transform: scale(1);
  }
}

.cta-animate {
  background: linear-gradient(
    270deg,
    #3b82f6,  /* azul */
    #6366f1,  /* índigo */
    #8b5cf6,  /* violeta */
    #3b82f6
  );
  background-size: 300% 300%;
  animation: pulseGradient 3s ease infinite, shake 5s ease-in-out infinite;
}

@keyframes shake {
  0%, 90%, 100% { transform: translateX(0); }
  92% { transform: translateX(-4px); }
  94% { transform: translateX(4px); }
  96% { transform: translateX(-3px); }
  98% { transform: translateX(3px); }
}

